bcrypt==3.2.0
fastapi==0.115.6
ipykernel==6.29.5
konlpy==0.6.0
load-dotenv==0.1.0
matplotlib-inline==0.1.7
passlib==1.7.4
prompt_toolkit==3.0.48
pycparser==2.22
python-dotenv==1.0.1
scikit-learn==1.3.2
uvicorn==0.32.1
JPype1==1.5.1
ipython==8.12.3
scipy==1.14.1
pydantic==2.10.3
pydantic_core==2.27.1
passlib