bcrypt==3.2.0
fastapi==0.115.6
ipykernel==6.29.5
ipython==8.29.0
konlpy==0.6.0
load-dotenv==0.1.0
matplotlib-inline==0.1.7
numpy==2.2.0
passlib==1.7.4
prompt_toolkit==3.0.48
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyMySQL==1.1.1
python-dotenv==1.0.1
scikit-learn==1.6.0
scipy==1.14.1
stack-data==0.6.3
starlette==0.41.3
uvicorn==0.32.1
wcwidth==0.2.13
jpype1